/*RESET START*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* 2. Remove default margin */
  margin: 0;
  /* 3. Add smart line-height */
  line-height: calc(1em + 0.5rem);
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*RESET END*/

* {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.rock {
  color: sandybrown;
}

.paper {
  color: lightskyblue;
}

.scissors {
  color: hotpink;
}

#round {
  color: hotpink;
}

.heading {
  margin: 24px 0 0 0;
  text-align: center;
}

p {
  text-align: center;
  color: saddlebrown;
  font-size: 18px;
}

input {
  flex-grow: 0;
}

.score-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.hide {
  display: none;
}

.score {
  font-size: 32px;
}

.player-score_container,
.computer-score_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.player-score_container p {
  color: lightskyblue;
}

.computer-score_container p {
  color: sandybrown;
}

.choice-buttons_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.choice-button {
  font-size: 20px;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: lightpink;
  border: 8px dotted lightcoral;
  cursor: pointer;
}

#rock {
  color: sandybrown;
  background-color: dimgray;
}

#paper {
  color: lightskyblue;
  background-color: darkmagenta;
}

#scissors {
  color: hotpink;
  background-color: darkcyan;
}
